<!DOCTYPE html>
<html>
<head>
    <title>SPK PKL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="header">
        <h1>Sistem Pendukung Keputusan</h1>
        <p>Pemilihan Tempat PKL Siswa SMK</p>
    </div>

    <div class="container">
        <div class="card">
            <h2>Dashboard</h2>
            <p>Selamat datang di aplikasi SPK untuk membantu menentukan tempat PKL terbaik bagi siswa SMK.</p>

            <div class="menu">
                <a href="/tempat_pkl">Data Tempat PKL</a>
                <a href="/list_tempat_pkl">Daftar Tempat PKL</a>
                <a href="/kriteria">Data Kriteria</a>
                <a href="/penilaian">Penilaian</a>
               <a href="/hasil">Hasil Ranking</a>
               <a href="/evaluasi">Evaluasi Sistem</a>
               <a href="/prediksi">Prediksi PKL (ML)</a>
            </div>
        </div>
    </div>

</body>
</html>